{% extends '@yellow' %}

{% block content %}
  {% render '@button', { addClasses: 'bg-pink', text: 'yup.' }, true %}
  {% render '@button', { addClasses: 'ml0 bg-white', text: 'uh-huh.' }, true %}
{% endblock %}
